fastapi
uvicorn
python-multipart
langgraph
langchain-core
langchain-community
langchain-openai
openai
tiktoken
sentence-transformers
spacy
pydantic
instructor
requests
streamlit
faiss-cpu
google-genai
pymupdf
easyocr
llm-guard
ragas
langsmith
langchain-huggingface
matplotlib